@media all and (max-width: 800px) {
  .inputLabel {
    font-size: 70%;
  }

  .inputTextForm {
    width: 83%;
    font-size: 100%;
    margin: 0%;
  }

  .loginHeader {
    margin: 5% 7% 1% 7%;
    font-size: 100%;
  }

  #login-button,
  #register-button {
    width: 85%;
    font-size: 70%;
  }
}
